/* Global */
@color-01:#404D5B;
@color-02:#F6F6F6;
@color-03:#B0B0B0;
@color-04:#ff5533;
@color-05:#f0f0f0;
@color-06:#D0D0D0;
@color-07:#FBFBFB;
@color-08:#EBEBEB;

@color-shadows:@color-06;
@color-app-text:@color-01;
@color-app-bg:@color-02;
@color-inputs-text:@color-01;
@color-inputs-bg:@color-07;
@color-inputs-border:@color-03;
@color-inputs-border-hover:@color-01;
@color-inputs-border-focus:@color-01;
@color-menu-bg:@color-01;
@color-menu-text:@color-04;
@color-menu-ico:@color-02;
@color-auth-bg:@color-05;
@color-auth-block-bg:@color-02;
@color-view-title-bg:@color-08;
@color-view-folder-content-border:@color-03;
@color-view-folder-content-ico:@color-03;
@color-view-folder-content-tr-ico-hover:@color-04;
@color-view-folder-content-tr-hover-ico:@color-01;
@color-view-folder-content-folder-text:@color-04;
@color-view-folder-content-iron-hover-bg:@color-08;
@color-view-folder-content-sort-ico:@color-03;
@color-view-folder-content-sort-ico-hover:@color-04;

@color-view-option-line-border:@color-03;