<div class="view-title">
    <div class="content">
        <span class="title"><li class="fa fa-folder-open"></li> <span>Folders</span></span>
        <div class="float">Filter : <input type="text" ng-model="query" /></div>
    </div>
</div>

<div class="view-folder-content">
    <div class="content">
        <table class="table-content">

            <caption>
                <li class="fa fa-folder-open-o icon"></li></td>
                <span ng-repeat="iron in conf_iron_path" ng-click="postRequestList(iron.path)">
                    /<span class="is-folder is-action is-iron-folder">{{iron.name}}</span>
                </span>
            </caption>

            <thead>
                <td class="table-icon"></td>
                <td class="is-action is-sortable" ng-click="conf_ui_sort_file = 'name'; conf_ui_sort_dir='toString()'; reverseDir=!reverseDir; reverse=reverseDir;">
                    <span>Name <i class="fa fa-sort"></i></span>
                </td>
                <td class="table-type is-action is-sortable" ng-click="conf_ui_sort_file = 'ext'; reverse=!reverse">
                    <span>Type <i class="fa fa-sort"></i></span>
                </td>
                <td class="table-size is-action is-sortable" ng-click="conf_ui_sort_file = 'size'; reverse=!reverse">
                    <span>Size <i class="fa fa-sort"></i></span>
                </td>
                <td class="table-date is-action is-sortable" ng-click="conf_ui_sort_file = 'atime'; reverse=!reverse">
                    <span>Date <i class="fa fa-sort"></i></span>
                </td>
                <td class="table-action"></td>
            </thead>

            <tbody>
                <tr ng-repeat="folder in folders | filter:query | orderBy:conf_ui_sort_dir:reverseDir">
                    <td><i class="fa fa-folder icon"></i></td>
                    <td class="is-folder is-action" ng-click="postRequestList(conf_folder_path+'/'+folder)">{{folder}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td><i class="fa fa-trash-o icon is-action"></i><i class="fa fa-pencil-square-o icon is-action"></i></td>
                </tr>
                <tr ng-repeat="file in files | filter:query | orderBy:conf_ui_sort_file:reverse">
                    <td ng-if="conf_ui_extension[file.ext]"><i class="" ng-class="['fa',conf_ui_extension[file.ext],'icon']" ></i></td>
                    <td ng-if="!conf_ui_extension[file.ext]"><i class="" ng-class="['fa',conf_ui_managedType['default'],'icon']" ></i></td>
                    <td ng-if="file.ext != ''">{{file.name}}.{{file.ext}}</td>
                    <td ng-if="file.ext == ''">{{file.name}}</td>
                    <td>{{file.ext}}</td>
                    <td>{{file.size}}</td>
                    <td>{{file.atime}}</td>
                    <td>
                        <i class="fa fa-trash-o icon is-action"></i>
                        <i class="fa fa-pencil-square-o icon is-action"></i>
                        <a ng-href="/sharing{{conf_folder_path}}{{file.fpath}}"><i class="fa fa-cloud-download icon is-action"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>