
<div class="view-title">
    <div class="content">
        <span class="title">
            <span class="element is-action" ng-click="userview.change_template('user-settings')"><li class="fa fa-cog"></li>Settings</span>
            <span class="element is-action" ng-click="userview.change_template('user-password')"><li class="fa fa-key"></li>Password</span>
            <span class="element is-action" ng-click="userview.change_template('user-sessions')"><li class="fa fa-shield"></li>Sessions</span>
        </span>
        <div class="float"></div>
    </div>
</div>

<div class="view-user">
    <div class="content">
        <div ng-include="userview.current_template"></div>
    </div>
</div>
