/**************************************************************
*   Global
**************************************************************/
@import url(http://necolas.github.io/normalize.css/3.0.1/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,100,300,500,800);

.themetest {
    color: #404D5B;
    font-size: 0.857em;
    font-family: "Ubuntu Mono",Arial,sans-serif;
    background-color: #e7f4f9;
}



/**************************************************************
*   Header
**************************************************************/

.themetest .header {
    background-color: #e7f4f9;
    padding: 20px 0px;
}
.themetest .header .title {
    font-weight: 800;
    font-size: 4.000em;
}
.themetest .header .sub-title {
    font-size: 2.500em;
    color: #7bcd97;
}

/**************************************************************
*   Menu
**************************************************************/

.themetest .menu{
    background-color: #5b441c;
    color: #B4B4B4;
    font-size: 1.500em;
    padding: 15px 0px;
    height: 25px;
}
.themetest .menu .element{
    color: #63cdff;
    font-weight: 500;
    cursor: pointer;
}

.themetest .menu .element li{
    color: #B4B4B4;
    margin-right: 5px;
}

.themetest .menu .separator{
    margin: 0 10px;
}

.themetest .menu .left{
    float: left;
    margin-right: 15px;
}

.themetest .menu .right{
    margin-left: 15px;
    float: right;
}

.themetest .options {
    background-color: #e7f4f9;
    padding: 20px 0px;
}

.themetest .content {
    width: 1000px;
    margin: 0px auto;

}

/**************************************************************
*   TABLE CONTENT
**************************************************************/

.themetest .table-content{
    width: 1000px;
    text-align: left;
}

.themetest .table-content thead{
    font-weight: 800;
    font-size: 1.200em;
    height: 40px;
    border-bottom: 1px dashed #C3C8CD;
}

.themetest .table-content tr {
    height: 30px;
}

.themetest .table-content tr:hover .icon {
    color: #5b441c;
}

.themetest .table-content .icon {

    padding: 0px 5px;
    font-size: 1.400em;
    color: #C3C8CD;
}

.themetest .table-content tr .icon:hover{
    color: #63cdff;
}

.themetest .table-content .is-folder {
    color: #63cdff;
}

.themetest .table-content .is-action {
    cursor: pointer;
}











.themetest .folder-section{
    padding: 20px 0px;
}

.themetest .folder-section-ext{
    font-size: 1.400em;
    color: #63cdff;
    overflow: hidden;
    height: 45px;
}
.themetest .folder-section-path{
    font-size: 1.400em;
    font-weight: 800;
    color: #63cdff;
    overflow: hidden;
    height: 45px;
}



.themetest .iron-folder {
    font-weight: 800;
    font-size: 1.200em;
    margin-top: 20px;
}

.themetest .iron-icon {

    font-size: 1.4em;
}

.themetest .iron-sub-element {
    color: #63cdff;
    font-weight: 500;
    cursor: pointer;
}