@import url(http://necolas.github.io/normalize.css/3.0.1/normalize.css);

.default body {
    color: #404D5B;
    font-size: 0.857em;
    font-family: "Raleway",Arial,sans-serif;
    background-color:#F9F9F9;
}

.default .header {
    background-color: #F9F9F9;
    padding: 20px 0px;
}
.default .logoTitle {
    font-weight: 800;
    font-size: 4.000em;
}
.default .logoSubTitle {
    font-size: 2.500em;
    color:#C3C8CD;
}

.default .menu{
    background-color: rgba(64, 77, 91, 1);
    color: #B4B4B4;
    font-size: 1.500em;
    padding: 15px 0px;
    height: 25px;
}
.default .menu .element{
    color: #ff5533;
    font-weight: 500;
    cursor: pointer;
}

.default .menu .element li{
    color: #B4B4B4;
    margin-right: 5px;
}

.default .menu .separator{
 margin: 0 10px;
}

.default .menu .left{
    float: left;
    margin-right: 15px;
}

.default .menu .right{
    float: right;
}

.default .options {
    background-color: rgba(149, 165, 166, 0.1);
    padding: 20px 0px;
}

.default .content {
    width: 1000px;
    margin: 0px auto;

}

.default .folder {
    padding: 20px 0px;
}

.default .folder-list-title{
    font-weight: 800;
    font-size: 1.200em;
    height: 60px;
    border-bottom: 1px dashed #C3C8CD;
}

.default .folder-list-title:hover{
    background-color: #ff0000;
}

.default .folder-list-title .name{
    margin-left: 34px;
}

.default .folder-list-title .type,
.default .folder-list-title .size,
.default .folder-list-title .date{
    text-align: right;
}

.default .folder-section{
    padding: 20px 0px;
}

.default .folder-section-ext{
    font-size: 1.400em;
    color: #ff5533;
    overflow: hidden;
    height: 45px;
}
.default .folder-section-path{
    font-size: 1.400em;
    font-weight: 800;
    color: #ff5533;
    overflow: hidden;
    height: 45px;
}

.default .folder-list{
    height: 30px;
    overflow: hidden;
}

.default .folder-list .name{
    float: left;
    min-width: 450px;
    padding: 7px;
}

.default .folder-list .is-folder{
    color: #ff5533;
}



.default .folder-list .type,
.default .folder-list .size,
.default .folder-list .date{
    float: right;
    min-width: 150px;
    padding: 7px;
    text-align: right;
}

.default .folder-list .icon{
    float: left;
    padding: 5px 7px;
    width: 20px;
    font-size: 1.4em;
    color: #C3C8CD;
}

.default .folder-list:hover{
    background-color:rgba(149, 165, 166, 0.1) ;
}

.default .is-folder {
    cursor: pointer;
}

.default .iron-folder {
    font-weight: 800;
    font-size: 1.200em;
    margin-top: 20px;
}

.default .iron-icon {

    font-size: 1.4em;
}

.default .iron-sub-element {
    color: #ff5533;
    font-weight: 500;
    cursor: pointer;
}