/* Define main */
@theme-main-color-text: #404D5B;
@theme-main-color-bg: #F9F9F9;
@theme-main-em: 0.857em;
@theme-main-font-family : "Raleway",Arial,sans-serif;

/* Define header */
@theme-header-color-bg: #F9F9F9;
@theme-header-color-subtitle: #C3C8CD;


/* Define menu */
@theme-menu-color-bg: #404D5B;
@theme-menu-color-icon: #F9F9F9;
@theme-menu-color-nav : #ff5533;
