@import "_define.less";

/**************************************************************
*   Global
**************************************************************/

@import url(http://necolas.github.io/normalize.css/3.0.1/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,800);

.default {
  color: @theme-main-color-text;
  font-size: @theme-main-em;
  font-family: @theme-main-font-family;
  background-color:@theme-main-color-bg;
}

.default .content {
  width: 1000px;
  margin: 0px auto;
}

/**************************************************************
*   Header
**************************************************************/

.default .header {
  background-color: @theme-header-color-bg;
  padding: 20px 0px;
}
.default .header .title {
  font-weight: 800;
  font-size: 4.000em;
}
.default .header .sub-title {
  font-size: 2.500em;
  color:@theme-header-color-subtitle;
}

/**************************************************************
*   Menu
**************************************************************/

.default .menu{
  background-color: @theme-menu-color-bg;
  font-size: 1.500em;
  padding: 15px 0px;
  height: 25px;
}

.default .menu .element{
  color: @theme-menu-color-nav;
  font-weight: 500;
  cursor: pointer;
}

.default .menu .element li{
  color: @theme-menu-color-icon;
  margin-right: 5px;
}

.default .menu .separator{
  margin: 0 10px;
}

.default .menu .left{
  float: left;
  margin-right: 15px;
}

.default .menu .right{
  margin-left: 15px;
  float: right;
}

/**************************************************************
*   AUTH
**************************************************************/

.default .auth-block {
  font-size: 1.200em;
  background-color: rgba(149, 165, 166, 0.1);
  width: 300px;
  margin: 50px auto;
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #C3C8CD 5px 5px 5px;
  -moz-box-shadow: #C3C8CD 5px 5px 5px;
  box-shadow: #C3C8CD 5px 5px 5px;
}

.default .auth-block .desc {
  width: 300px;
  margin: 0 0 10px 0;
}

.default .auth-block input {
  width: 300px;
  margin: 0 0 10px 0;
}

/**************************************************************
*   OPTIONS
**************************************************************/

.default .options {
  background-color: rgba(149, 165, 166, 0.1);
  padding: 20px 0px;
}

/**************************************************************
*   TABLE CONTENT
**************************************************************/

.default .table-content{
  width: 1000px;
  text-align: left;
  margin: 20px 0px;
}

.default .table-content caption{
  font-size: 1.200em;
  height: 40px;
  text-align: left;
}

.default .table-content thead{
  font-weight: 800;
  font-size: 1.200em;
  height: 30px;
  border-bottom: 1px solid #C3C8CD;
}

.default .table-content thead .table-date {
  width: 150px;
}

.default .table-content thead .table-action,
.default .table-content thead .table-type,
.default .table-content thead .table-size {
  width: 100px;
}

.default .table-content thead .table-icon {
  width: 40px;
}

.default .table-content tr {
  height: 35px;
}

.default .table-content tr:hover .icon {
  color: #404D5B;
}

.default .table-content caption .icon,
.default .table-content tr .icon {
  padding: 0px 5px;
  font-size: 1.400em;
  color: #C3C8CD;
}

.default .table-content tr .icon:hover{
  color: #ff5533;
}

.default .table-content .is-folder {
  color: #ff5533;
}


.default .table-content .is-iron-folder{
  font-weight: 500;
  margin: 3px;
  padding: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.default .table-content .is-iron-folder:hover{

  background-color: #404D5B;
  -webkit-box-shadow: #C3C8CD 5px 5px 5px;
  -moz-box-shadow: #C3C8CD 5px 5px 5px;
  box-shadow: #C3C8CD 5px 5px 5px;
}

.default .table-content .is-action {
  cursor: pointer;
}

.default .table-content .is-sortable{
  font-weight: 800;
  padding: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.default .table-content .is-sortable:hover{
  background-color: #C3C8CD;
  -webkit-box-shadow: #C3C8CD 5px 5px 5px;
  -moz-box-shadow: #C3C8CD 5px 5px 5px;
  box-shadow: #C3C8CD 5px 5px 5px;
}













.default .folder-section{
  padding: 20px 0px;
}

.default .folder-section-ext{
  font-size: 1.400em;
  color: #ff5533;
  overflow: hidden;
  height: 45px;
}
.default .folder-section-path{
  font-size: 1.400em;
  font-weight: 800;
  color: #ff5533;
  overflow: hidden;
  height: 45px;
}


