<!-- App Login -->
<div class="menu">
    <div class="content">
        <span class="element left"><li class="fa fa-user"></li> Login</span>
    </div>
</div>

<div class="auth">
    <div class="content">
        <div class="auth-block">
            <div><div class="desc">Username : </div><input ng-model="param.username" type="text"></div>
            <div><div class="desc">Password : </div><input ng-model="param.password" type="password"></div>
            <div><div class="desc"> </div><input type="button" value="Login" ng-click="login()"></div>
        </div>
    </div>
</div>