<!-- App Main app start -->
<div class="menu">
    <div class="content">
        <span class="element left" ng-click="changeView('user')"><li class="fa fa-user"></li> <span ng-bind="param.username">User</span></span>

        <span class="element left" ng-click="changeView('folder')"><li class="fa fa-folder-open"></li> Folders</span>

        <span class="element left" ng-click="changeView('settings')"><li class="fa fa-gear"></li> Settings</span>

        <span class="element right" ng-click="changeView('about')"><li class="fa fa-send"></li> About</span>
    </div>
</div>

<div ng-view></div>
