
<table class="option-line">
    <tr class="option-lines">
        <td>Theme : </td>
        <td><select ng-model="param.theme">
            <option value="css/nutella-default.css">nutella-default</option>
            <option value="css/nutella-electric.css">nutella-electric</option>
            <option value="css/nutella-ubuntu.css">nutella-ubuntu</option>
            <option value="css/nutella-velvety.css">nutella-velvety</option>
            <option value="css/glow-default.css">glow-default</option>
            <option value="css/glow-electric.css">glow-electric</option>
            <option value="css/glow-ubuntu.css">glow-ubuntu</option>
            <option value="css/glow-velvety.css">glow-velvety</option>
        </select></td>
    </tr>
    <tr class="option-line"><td>Username : </td><td>{{data.user.username}}</td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
</table>