/**************************************************************
*   Global
**************************************************************/

/* Functions */
.theme-radius(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.theme-shadow(@color:@color-shadows, @x:3px, @y:3px, @blur:3px, @spread:0px) {
  -webkit-box-shadow: @color @x @y @blur @spread;
  -moz-box-shadow: @color @x @y @blur @spread;
  box-shadow: @color @x @y @blur @spread;
}
/* Functions END */

body {
  color: @color-app-text;
  font-size: @theme-main-em;
  font-family: @theme-main-font-family;
  background-color:@color-app-bg;
}

.content {
  width: 1000px;
  margin: 0px auto;
}

input,
select,
textarea,
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
  padding: 5px;
  background: @color-inputs-bg;
  color: @color-inputs-text;
  border:@color-inputs-border solid 1px ;

}

input:hover,
select:hover,
textarea:hover,
.button:hover {
  border:@color-inputs-border-hover solid 1px ;
}

input:focus,
select:focus,
textarea:focus,
.button:focus {
  border:@color-inputs-border-focus solid 1px ;
}

.button,
input[type="button"] {
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
}

/**************************************************************
*   Header
**************************************************************/

.header {
  padding: 10px 0px;
}
.header .title {
  font-weight: 800;
  font-size: 3.000em;
}
.header .sub-title {
  font-size: 2.000em;
  color:@color-03;
}

/**************************************************************
*   Menu
**************************************************************/

.menu{
  background-color: @color-menu-bg;
  font-size: 1.500em;
  padding: 10px 0px;
  height: 25px;
}

.menu .element{
  color: @color-menu-text;
  font-weight: 500;
  cursor: pointer;
}

.menu .element li{
  color: @color-menu-ico;
  margin-right: 5px;
}

.menu .left{
  float: left;
  margin-right: 15px;
}

.menu .right{
  margin-left: 15px;
  float: right;
}

/**************************************************************
*   AUTH
**************************************************************/

.auth {
  font-size: 1.000em;
  background-color: @color-auth-bg;
  padding: 100px 0;
}

.auth-block {
  width: 300px;
  margin: 0px auto;
  padding: 50px;
  background-color: @color-auth-block-bg;
  .theme-radius(8px);
  .theme-shadow();
}

.auth-block .desc {
  width: 300px;
  margin: 0 0 10px 0;
}

.auth-block input {
  width: 300px;
  margin: 0 0 10px 0;
}

/**************************************************************
*   Views title
**************************************************************/

.view-title {
  background-color: @color-view-title-bg;
  padding: 12px 0px;
}

.view-title .title {
  font-size: 1.500em;
}

.view-title .is-action {
  cursor: pointer;
}

.view-title .title .element {
  margin-right: 10px;
}

.view-title .title .element li {
  margin-right: 5px;
}


.view-title .float {
  float: right;
}

/**************************************************************
*   TABLE CONTENT
**************************************************************/

.table-content{
  width: 1000px;
  text-align: left;
  margin: 20px 0px;
}

.table-content caption{
  font-size: 1.200em;
  height: 40px;
  text-align: left;
}

.table-content thead{
  font-weight: 800;
  font-size: 1.200em;
  height: 30px;
  border-bottom: 1px solid @color-view-folder-content-border;
}

.table-content thead .table-date {
  width: 150px;
}

.table-content thead .table-action,
.table-content thead .table-type,
.table-content thead .table-size {
  width: 100px;
}

.table-content thead .table-icon {
  width: 40px;
}

.table-content tr {
  height: 35px;
}

.table-content caption .icon,
.table-content tr .icon {
  padding: 0px 5px;
  font-size: 1.400em;
  color: @color-view-folder-content-ico;
}

.table-content tr:hover .icon {
  color: @color-view-folder-content-tr-hover-ico;
}

.table-content tr .icon:hover{
  color: @color-view-folder-content-tr-ico-hover;
}

.table-content .is-folder {
  color: @color-view-folder-content-folder-text;
}


.table-content .is-iron-folder{
  font-weight: 500;
  margin: 3px;
  padding: 5px;
  .theme-radius(3px);
}

.table-content .is-iron-folder:hover{
  background-color: @color-view-folder-content-iron-hover-bg;
  .theme-shadow();
}

.table-content .is-action {
  cursor: pointer;
}

.table-content .is-sortable{
  font-weight: 800;
  padding: 5px;
  .theme-radius(3px);
}

.table-content .is-sortable i{
  margin-left: 5px;
  color: @color-view-folder-content-sort-ico;
}

.table-content .is-sortable:hover i {
  color: @color-view-folder-content-sort-ico-hover;
}

/* User */

.view-user {
  padding-top: 20px;
}

/* form style */

.option-lines{
  width: 100%;
}

.option-lines tr{

}

.option-lines td{
  min-height: 30px;
  border-bottom: 1px solid @color-view-option-line-border;
}
